Checks:
  -*,
    bugprone-*,
    -bugprone-exception-escape,
    llvm-*,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-use-auto,
    -modernize-use-trailing-return-type,
    -modernize-return-braced-init-list,
    -modernize-pass-by-value,
    -modernize-use-default-member-init,
    -modernize-deprecated-headers,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-function-size,
    -clang-diagnostic-deprecated-copy,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-reserved-identifier,
    -llvm-include-order,
    -modernize-use-bool-literals,
    -modernize-use-emplace,
    -modernize-use-using,
    -readability-braces-around-statements,
    -readability-duplicate-include,
    -readability-function-cognitive-complexity,
    -readability-implicit-bool-conversion,
    -readability-suspicious-call-argument
WarningsAsErrors:
    ''

HeaderFilterRegex: 'libff/*.(hpp|tcc|cpp)'